:root {
  --primary-color: #ab3071;
  --primary-font: "Marck Script", cursive;
  --secondary-font: "Raleway", sans-serif;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("pink-landscape.jpeg");
  height: 100%;
  font-family: var(--secondary-font);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  color: #878787;

  font-size: 24px;
  font-weight: 100;

  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: #f0a263;
  font-weight: bolder;
  text-decoration: none;
  font-size: 14px;
}

hr {
  color: var(--primary-color);
  width: 75%;
  margin: 0 auto;
}

a:hover {
  font-style: italic;
  color: #c45381;
}

.btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.form-control {
  border: 1px solid var(--primary-color);
}

.weather-app {
  padding: 30px;
  border: 1px solid #ab3071;
  border-radius: 5px;
  background: white;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temp img {
  margin-right: 10px;
}

.weather-temp strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temp .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: black;
}

.weather-forecast {
  color: rgb(135, 135, 135);
  margin-top: 20px;
}

.max-temp {
  color: black;
}

#icon {
  margin: 0;
  padding: 0;
  width: 65px;
  height: auto;
}

#city {
  font-family: var(--primary-font);
  font-size: 50px;
  color: var(--primary-color);
}
